{% extends "LksMemberManagementBundle::layout.html.twig" %}

{% block content %}
	<h2>Availibility listing</h2>
	<ul>
	{% for member in members %}
		<li>{{ member.firstname|e }} : {{ member.availibilityDate|date("d/m/Y") }}</li>
	{% endfor %}
	</ul>
	<h2>Capacity Planning</h2>
	{% for item in capacities %}
		<h3>{{ item.member.firstname|e }}</h3>
		<div class="progress progress">
		{% for project in item.projects %}
			  <div class="bar" style="width: {{ project.duration|e }}%">{{ project.name|e }} | Duration: {{ project.duration|e }}</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}


