{% extends "LksMemberManagementBundle::layout.html.twig" %}

{% block content %}
	<h2>Availibility listing</h2>
	<ul>
	{% for member in members %}
		<li>{{ member.firstname|e }} : {{ member.availibilityDate|date("d/m/Y") }}</li>
	{% endfor %}
	</ul>
	<h2>Capacity Planning</h2>
	{% for item in capacityPlanning %}
		<h3>{{ item.member.firstname|e }}</h3>
		<div class="progress progress-striped">
		{% for projectDesign in item.projectDesigns %}
			
			  <div class="bar" style="width: {{ projectDesign.durationPercent|e }}%">{{ projectDesign.project.name|e }} | Duration: {{ projectDesign.durationPercent|e }} | Begin: {{ projectDesign.beginPercent|e }}</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}


