{% extends "LksMemberManagementBundle::layout.html.twig" %}

{% block content %}
	<h2>Availibility listing</h2>
	<ul>
	{% for member in members %}
		<li>{{ member.firstname|e }} : {{ member.availibilityDate|date("d/m/Y") }}</li>
	{% endfor %}
	</ul>
	<h2>Capacity Planning</h2>
	{% for item in capacityPlanning %}
		<li>{{ item.member.firstname|e }} : {{ item.projectDesigns|length }}</li>
		<ul>
			{% for projectDesign in item.projectDesigns %}
				<li>{{ projectDesign.project.name|e }}</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}


